body {
    background-color: #d0ed9a;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.page-title {
    font-family: Lato, sans-serif;
    font-weight: 700;
    color: #4A4A4F;
    padding-top: 10px;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #d0ed9a;
}

.dark-bg {
    background-color: #193e1f;
}

.main-bg {
    background-color: #eaed9a;
}

.card {
    border-color: #193e1f;
    border-radius: 2%;
    background-color: white;
}


.aspect-ratio-box {
    border-radius: 2%;
    position: relative;
    width: 100%;
    height: 0;
    padding-top: calc(100% * (200 / 300));
  }


.image-container {
    overflow: hidden;
    width:100%;
    
}

.card-img-top {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.image-flash {
    position: relative;

    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase; 
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit, .btn-post-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}


.btn-delete, .btn-post-delete {
    color: #fff;
    background: #E84610;
}

.btn-like {
    color: white;
    background: rgb(0, 187, 255);
}

.btn-unlike {
    color: black;
    background: rgb(240, 237, 237);
}

.btn-like:hover,
.btn-like:active {
    border: none;
}

.btn-unlike:hover,
.btn-unlike:active {
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

/* Override Summernot inline styling to Hide picture upload buttons */
.note-group-select-from-files { 
    display: none !important; 
}

.summernote-div {
    display: inline-block;
    position: relative;
}
  
form .summernote-div .dropdown-menu {
    margin-left: 0;
}

.note-editing-area {
    background-color: white;
}

/*Image and video styling*/
img {
    max-width: 100%;
}

video {
    max-width: 100% !important;
}

#msg {
    padding-top: 5px;
    background-color: #fff;
    border-color: black;
}