{% extends 'base.html' %} 

{% block content %}
<!--Delete post confirmation -->
<div class="container">
  <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <h2>Delete Post</h2>
          
          <p>Are you sure that you want to delete the post <strong>{{post.title}}</strong>?</p>
      </div>
    </div>
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <form method="POST"> 
      {% csrf_token %}    
        <button type="submit" class="btn btn-delete">Delete</button>
        <a class="btn btn-edit" a href="{% url 'post_detail' post.slug %}">Cancel</a>
      </form>
        
    </div>
  </div>
</div>
{% endblock content %}

