
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}"><span class="brand">Agri-Hacks</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == home_url %}active{% endif %}" aria-current="page"
                        href="{% url 'home' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == post_create_url %}active{% endif %}" aria-current="page" href="{% url 'post_create' %}">New Post</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                        href="{% url 'account_signup' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page" href="{% url 'account_login' %}">Login</a>
                </li>
                {% endif %}
                <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="categoryDropdown" role="button" data-toggle="dropdown" aria-expanded="false">Categories</a>
                    <ul class="dropdown-menu">
                        {% for category in category_menu %}
                        <li><a class="dropdown-item" href="/blog/category/{{category.id}}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-expanded="false">{{ user }}</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item {% if request.path == my_posts_url %}active{% endif %}" aria-current="page" href="{% url 'my_posts' %}">My Posts</a></li>
                            <li><a class="dropdown-item {% if request.path == my_posts_url %}active{% endif %}" aria-current="page" href="{% url 'my_drafts' %}">My Drafts</a></li>
                            <li><a class="dropdown-item {% if request.path == my_posts_url %}active{% endif %}" aria-current="page" href="{% url 'my_published' %}">My Published</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li class="nav-item">
                                <a class="dropdown-item {% if request.path == logout_url %}active{% endif %}" aria-current="page" href="{% url 'account_logout' %}">Logout</a>
                            </li>
                        </ul>
                    </li>
                </li> 
{% endif %}
                <!-- About -->
                <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-expanded="false">About Us</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">                
                        <li><a class="nav-link {% if request.path == about_url %}active{%endif%}" aria-current="page"
                            href="{% url 'about' %}">About</a></li>
                        <li><a class="nav-link {% if request.path == feedback_url %}active{%endif%}" aria-current="page"
                            href="{% url 'feedback' %}">Contact</a></li>
                    </ul>    
                </li>
            </ul>
            <!-- Search Bar -->
            <div>
                <form class="d-flex" action="{% url 'search' %}" method="get"> 
                    <input name="query" class="form-control mr-2" type="search" placeholder="Search" aria-label="Search"> 
                    <button class="btn btn-outline-success" type="submit">Search</button> 
                </form>
            </div>
        </div>
    </div>
</nav>

<!-- Script, needs to move out to static js file -->
<script>
    $(document).ready(function(){
       $('.dropdown-toggle').dropdown()
   });
</script>
